#kopf {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

#rand {
    border: 2px #eee solid;
    text-align: center;
    position: relative;
    float: inline-end;
    width: 400px;
    height: 1000px;
}

#start{
    text-align: center;
}

#Knopf{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
}
