

#kopf {
    border: 2px #eee solid;
    color: #aa205c;
    text-align: center;
    padding: 10px;
    font-family: Impact;
}

.box {
    width:300px;
    height: auto;
    background-image: url('../images/Logo.jpeg');
    background-size: contain;
}

#rand {
    border: 2px #eee solid;
    text-align: center;
    position: relative;
    float: inline-end;
    width: 400px;
    height: 1000px;
}

#start{
    text-align: center;
}

#Knopf{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    background-color: #aa205c;
}

#form-label{
    text-align: center;
    justify-content: center;
    font-size: 25px;

}
